<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abc.myapplication" >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="com.example.abc.onBoot.OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.abc.onBattery.BatteryMonitorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".ForTestActivity"
            android:label="ForTestActivity" >
        </activity>
        <activity
            android:name=".DynamicRowActivity"
            android:label="@string/title_activity_dynamic_row" >
        </activity>

        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="MainActivity" >
        </activity>
        <activity
            android:name=".NumberIncAsyncActivity"
            android:label="NumberIncAsyncActivity" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="ListViewActivity" >
        </activity>
        <activity
            android:name="com.example.abc.hurl.HurlMainActivity"
            android:label="@string/title_activity_hurl_main" >
        </activity>

        <activity
            android:name="com.example.abc.onBoot.BootstrapActivity"
            android:label="@string/title_activity_bootstrap" >
        </activity>
    </application>

</manifest>
